<div class="container">
  <div class="sections section1">
    <h1 class="particalBrandName">Partical</h1>
  </div>
  <div class="sections section2">
    <div class="services services1">
      <a href="#" 
        data-animsition-in-class="overlay-slide-in-left" 
        data-animsition-in-duration="1000"
        class="services-text animsition-overlay">Web<br>Animation</a>
    </div>
    <div class="services services2">
      <a href="#" 
        data-animsition-in-class="overlay-slide-in-left" 
        data-animsition-in-duration="1000"
        class="services-text">100 Days<br>Challenge</a>
    </div>
    <div class="services services3">
      <a href="#" 
        data-animsition-in-class="overlay-slide-in-left" 
        data-animsition-in-duration="1000"
        class="services-text">Design<br>Pattern</a>
    </div>
  </div>
</div>

<!-- expanding-card -->
<expanding-card></expanding-card>